.env
.env.*
!.env.example

server/.env
server/.env.*
!server/.env.example

node_modules/
server/node_modules/
frontend/node_modules/
frontend/client/node_modules/

server/uploads/
server/uploads/*

*.bak